body {
	min-width: 256px;
}

button {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	overflow: visible;
	-webkit-appearance: button;
	cursor: pointer;
	outline: none;
	text-transform: none;
	font-weight: 600;
	font-size: 13px;
	box-shadow: 0 1px 3px rgba(13,42,77,0.2);
	border-radius: 0px;
	margin-right: 4px;
	padding: 0 10px 1px 10px;
	font-family: "Titillium SemiBold", sans-serif;
	height: 24px;
	text-align: center;
	line-height: 0px;
	color: #003471;
	border: 0;
	transition: background ease 0.2s, color ease 0.2s, box-shadow ease 0.2s;
	background: #fff;
}